body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    transition: 0.5s;
}

/* Card */
.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Input */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* Button */
button {
    padding: 10px 20px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* Weather Icon Animation */
#weatherIcon {
    font-size: 60px;
    margin: 10px;
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Loading */
#loading {
    display: none;
}

/* Backgrounds */
.sunny {
    background: linear-gradient(135deg, #f6d365, #fda085);
}

.rainy {
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

.cloudy {
    background: linear-gradient(135deg, #d7d2cc, #304352);
}